// Color Support Settings

$text-color: #222;

// $gold: #ffbf00;
$gold: #ffb600;
$dark-gold: shade($gold, 20%);

$light-biege: tint(#d2c5a6, 25%);
// $biege: #d2c5a6;
$biege: shade(tint($gold, 80%), 15%);
$blue: #1a3f68;
// $blue: #092546;

$white: #fff;
$black: #000;
$selection: #cfedff;

// Layout Background Colors
$background-color: rgba(saturate(shade($blue, 15%), 15%), 0.85);

// Layout Border Colors
$body-border-color: #bbbbbb;


// Social Colors
$twitter-color: #00aced;
$facebook-color: #4b71b8;
$googleplus-color: #d55429;
$comment-count-color: #ffa000;

$drop-shadow: 0 2px 8px 0 rgba($black, 0.5);
// $reverse-drop-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.5);
$inset-light-text: 0 -1px 0 rgba($black, 0.85);
$inset-dark-text: 0 1px 0 $white;
$drop-text-shadow: 0 1px 0 rgba($black, 0.75);


$semi-transparent: 0.35;
