// Base Grid Measurements

// $breakpoint-list: 'tiny', 'small', 'medium', 'large', 'huge';

//$breakpoint-mini: convert-length(459px, em);
$breakpoint-tiny: convert-length(370px, rem);
$breakpoint-small: convert-length(400px, rem);
$breakpoint-small--major: convert-length(450px, rem);
$breakpoint-medium--minor: convert-length(500px, rem);
$breakpoint-medium: convert-length(600px, rem);
$breakpoint-medium--major: convert-length(650px, rem);
$breakpoint-large: convert-length(750px, rem);
$breakpoint-large--major: convert-length(800px, rem);
$breakpoint-huge: convert-length(940px, rem);
$breakpoint-retina: min-resolution 1.5dppx;

$max-content-width: $breakpoint-large--major;
$max-width: $breakpoint-huge;

$grid-padding: convert-length($base-line-height, rem);
$half-grid-padding: $grid-padding / 2;
$quarter-grid-padding: $grid-padding / 4;

// Susy grid settings
$total-columns: 24;
$column-width: $base-line-height;
$gutter-width: $column-width;

$susy: (
    // the basics
    columns: $total-columns,
    gutters: $gutter-width / $column-width,
    column-width: $breakpoint-medium / $total-columns,
    global-box-sizing: border-box,
    gutter-position: after,

    // advanced
    container-position: auto,
    container: $breakpoint-medium,
    math: fluid,
    flow: ltr,
    last-flow: to,
);

$default-border-radius: convert-length(6px, rem);
$photo-border: convert-length(6px, rem);

$border-width: 46;
$border-width--small: 30;
