// Icon Variables
$icon-height--small: $grid-padding * 1.5;
$icon-height--medium: $grid-padding * 2;
$icon-height--large: $grid-padding * 3;
$icon-height--huge: $grid-padding * 4;

// Icon Ratios
$icon--arrow-left-ratio: 0.6431875;
$icon--arrow-right-ratio: 0.6556875;
$icon--artist-ratio: 1;
$icon--date-ratio: 1;
$icon--medium-ratio: 1;
$icon--size-ratio: 1;
$icon--location-ratio: 1;
$icon--link-ratio: 1;

// Logo Ratios
$icon--facebook-ratio: 0.98375;
$icon--twitter-ratio: 0.994875;
$icon--google-plus-ratio: 1.0163125;
$icon--github-ratio: 1.0504375;

// Map of Icons
$icons:
    (
    arrow-left: (
        ratio: $icon--arrow-left-ratio
    ),
    arrow-right: (
        ratio: $icon--arrow-right-ratio,
    ),
    artist: (
        ratio: $icon--artist-ratio
    ),
    date: (
        ratio: $icon--date-ratio,
    ),
    medium: (
        ratio: $icon--medium-ratio,
    ),
    size: (
        ratio: $icon--size-ratio,
    ),
    location: (
        ratio: $icon--location-ratio,
    ),
    link: (
        ratio: $icon--link-ratio,
    ),
    facebook: (
        ratio: $icon--facebook-ratio,
    ),
    twitter: (
        ratio: $icon--twitter-ratio,
    ),
    google-plus: (
        ratio: $icon--google-plus-ratio,
    ),
    github: (
        ratio: $icon--github-ratio,
    )
);


// // Inline SVG icons
// @svg-load icon--validate-html url(../222/images/icons/icon--validate-html.svg)
// {
//
// }
//
// @svg-load icon--validate-css url(../222/images/icons/icon--validate-css.svg)
// {
//
// }
//
// @svg-load icon--license url(../222/images/icons/icon--license.svg)
// {
//
// }
//
// @svg-load icon--github url(../222/images/icons/icon--github.svg)
// {
//
// }
//
// @svg-load icon--accessibility url(../222/images/icons/icon--accessibility.svg)
// {
//
// }
//
// @svg-load icon--preamble url(../222/images/icons/icon--preamble.svg)
// {
//
// }
//
// @svg-load icon--explanation url(../222/images/icons/icon--explanation.svg)
// {
//
// }
//
// @svg-load icon--participation url(../222/images/icons/icon--participation.svg)
// {
//
// }
//
// @svg-load icon--benefits url(../222/images/icons/icon--benefits.svg)
// {
//
// }
//
// @svg-load icon--requirements url(../222/images/icons/icon--requirements.svg)
// {
//
// }
