// Date Background Generator Mixin

@mixin date-background($size)
{
	@for $m from 1 through 12
	{
		$month: $m;

		@for $d from 1 through 31
		{
			$day: $d;

			@if $m < 10
			{
				$month: '0' + $m;
			}

			@if ($d < 10)
			{
				$day: '0' + $d;
			}

			.slide--#{$month}-#{$day}
			{
				&.swiper-slide-prev, &.swiper-slide-active, &.swiper-slide-next
				{
					background-image: url('img/bg/#{$month}-#{$day}-bg--#{$size}.jpg');
				}
			}
		}
	}
}
