<footer class="l-footer">
    <div class="l-footer__inner"><small class="text-size--tiny">All artwork on this site is public domain and freely distributable. All uncited code and content is distribed under the MIT license.<br>Use it, fork it, ignore it, it's your choice.</small></div>
</footer>

<script src="js/init.js"></script>
<!--<script>
    var _gaq=[['_setAccount','UA-7560343-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <link rel="stylesheet" media="print" href="css/print.css">-->
<!--<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
  WebFont.load({
    custom: {
      families: ['Janson']
    }
  });
</script>-->
