<header class="l-header" role="banner">
    <div class="l-header__inner">
        <div class="nav-button nav-button--prev nav-button--header">
            <svg class="icon icon--arrow-left"><use xlink:href="#icon--arrow-left"></use></svg>
        </div>
				<!-- <a href="/" rel="home"><svg class="icon icon--logo"><use xlink:href="#icon--logo"></use></svg></a> -->
        <h1 class="site-name">{{ site.name }}</h1>
        <div class="nav-button nav-button--next nav-button--header">
            <svg class="icon icon--arrow-right"><use xlink:href="#icon--arrow-right"></use></svg>
        </div>
    </div>
</header>
