<header class="l-header">
    <div class="l-header__inner">
        <button class="nav-button nav-button--prev nav-button--header">
            <svg class="icon icon--arrow-left"><use xlink:href="#icon--arrow-left"></use></svg>
        </button>
        <h1 class="site-name">{{ site.name }}</h1>
        <button class="nav-button nav-button--next nav-button--header">
            <svg class="icon icon--arrow-right"><use xlink:href="#icon--arrow-right"></use></svg>
        </button>
        <!-- <div class="social">
            <a href="" class="social__link"><svg class="icon icon--facebook"><use xlink:href="#icon--facebook"></use></svg></a>
            <a href="" class="social__link"><svg class="icon icon--twitter"><use xlink:href="#icon--twitter"></use></svg></a>
            <a href="" class="social__link"><svg class="icon icon--google-plus"><use xlink:href="#icon--google-plus"></use></svg></a>
            <a href="" class="social__link"><svg class="icon icon--github"><use xlink:href="#icon--github"></use></svg></a>
        </div> -->
    </div>
</header>
