<header class="l-header" role="banner">
    <div class="l-header__inner">
        {% if page.name == 'index.html' %}
          <div class="nav-button nav-button--prev nav-button--header">
              <svg class="icon icon--arrow-left"><use xlink:href="#icon--arrow-left"></use></svg>
          </div>
        {% endif %}
        <a href="/" rel="home" class="header__logo header__logo--full"><svg class="icon icon--logo" role="img"><title>Daily Dutch Art</title><use xlink:href="#icon--logo"></use></svg></a>
        {% if page.name == 'index.html' %}
          <div class="nav-button nav-button--next nav-button--header">
              <svg class="icon icon--arrow-right"><use xlink:href="#icon--arrow-right"></use></svg>
          </div>
        {% endif %}
    </div>
</header>
