<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }}</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Dutch Art Daily">
    <meta name="application-name" content="Dutch Art Daily">
    <link rel="stylesheet" media="screen" href="css/styles.css">
    <script async src="js/scripts.js"></script>
</head>
