<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <title>{% if page.name != 'index.html' %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta http-equiv="cleartype" content="on">

    <meta name="description" content="{{ site.description }}">

    <meta property="og:site_name" content="{{ site.name }}">
    {% if page.name != 'index.html' %}<meta property="og:title" content="{{ page.title }}">{% endif %}
    <meta property="og:url" content="{{ site.url }}{% if page.name != 'index.html' %}{{ page.url }}{% endif %}">

    <link rel="stylesheet" media="screen" href="/css/styles.css">
    <link rel="canonical" href="{{ site.url }}{% if page.name != 'index.html' %}{{ page.url }}{% endif %}">
    <link rel="author" href="/humans.txt">

    {% if page.name == 'index.html' %}<script async src="/js/slider.js"></script>{% endif %}
    <script async src="/js/scripts.js"></script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ site.name }}",
      "url": "{{ site.url }}"
    }
    </script>
    {% include favicons.html %}
</head>
