// =============================================================================
// @name Nav Button Component
// @description Styling for swiper slider previous and next buttons.
// @group component
// =============================================================================

.nav-button {
  position: relative;
  display: block;
  width: $spacing * 2;
  height: $spacing * 2;
  padding: 0;
  margin-top: $quarter-spacing;
  font-size: $font-size-xxl;
  line-height: 1;
  color: $white;
  cursor: pointer;
  background-color: transparent;
  transition: color $speed-fast ease, opacity $speed-fast ease;

  @include media('>xs') {
    font-size: $font-size-xxxl;
  }

  @include media('>md') {
    margin-top: $half-spacing;
  }

  .svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: set-color(secondary);
  }

  &[disabled] {
    color: $white;
    pointer-events: none;
    cursor: default;
    opacity: 0.35;
  }
}
