// =============================================================================
// @name Typography Settings
// @description Project typography settings for are set here. This includes
//              those needed for the modular-scale library.
// @group settings
// =============================================================================

// Set the base font size and line height.
$base-font-size: rem(16px);
$base-line-height: 1.5;
// $alt-line-height: $major-third;

// Set the base em unit for the em() and rem() functions.
$em-base: 16px;

// Set Modular Scale settings.
$ms-base: $base-font-size rem(14px);
$ms-ratio: $base-line-height;

// Set a typographical font size scale.
$font-size-xxs: ms(-2);
$font-size-xs: ms(-1);
$font-size-sm: ms(0);
$font-size-md: ms(1);
$font-size-lg: ms(2);
$font-size-lg-alt: ms(3);
$font-size-xl: ms(4);
$font-size-xxl: ms(5);
$font-size-xxxl: ms(6);

// System font stack in case we want to use them.
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// Set font family settings.
$serif-font: 'Janson', 'Janson Text LT Std', 'Janson Text', JansonText,
  'Janson MT', 'Times New Roman', Times, serif;
$sans-serif-font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

$mono-font: monospace;
$icon-font: 'dad-icons';
$base-font-family: $sans-serif-font;
$primary-font: $base-font-family;
$secondary-font: $serif-font;

// Set font weight settings
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;
