// Base Structure

*, *:before, *:after
{
    box-sizing: border-box;
}

html
{
    // font-size: $browser-default-font-size;
    height: 100%;
    font-size: $ms-base;
    line-height: $ms-ratio;
    // background-color: $black;
}

body
{
    height: 100%;
    margin: 0;
    background-color: $blue;
    font-family: $base-font-family;
    // font-size: $base-font-size;
    // line-height: $base-line-height;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
