// Base Typography

a
{
    transition: color $speed-slow $default-easing;
    text-decoration: none;
    color: $gold;
    background: transparent;

    &:link
    {
        color: $gold;
    }

    &:visited
    {
        color: $dark-gold;
    }

    &:hover, &:focus
    {
        color: $gold;
    }

    &:active
    {
        color: $dark-gold;
    }
}


h1, h2, h3, h4, h5, h6, p
{
    @include font-feature-settings(kern);
    margin: 0;
    font-weight: normal;
    font-style: normal;
}

h1, .text-size--hero
{
    font-size: $text-size--hero;
}

h2, .text-size--huge
{
    font-size: $text-size--huge;
}


h3, .text-size--large
{
    font-size: $text-size--large;
}


h4, .text-size--medium
{
    font-size: $text-size--medium;
}


h5, .text-size--small
{
    font-size: $text-size--small;
}


h6, .text-size--tiny
{
    font-size: $text-size--tiny;
}

p
{
    // margin-bottom: $base-line-height;
    font-size: $text-size--small;
}

sup
{
    // font-size: $text-size--small;
}

.uppercase
{
    text-transform: uppercase;
}

.small-caps
{
    font-variant: small-caps;
}
