// Base Structure

*, *::before, *::after
{
    box-sizing: border-box;
}

html
{
    width: 100%;
    height: 100%;
    background-color: $blue;
    font-size: $ms-base;
    line-height: $ms-ratio;
}

body
{
    // font-size: $base-font-size;
    // line-height: $base-line-height;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $blue;
    font-family: $base-font-family;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
