// Footer Layout

.l-footer
{
    @include clearfix;
    text-align: center;
    color: $biege;
    background-color: $blue;
}

.l-footer__inner
{
    @include container;
    margin: $grid-padding auto;
    padding: 0 $grid-padding;
}
