// Footer Layout

.l-footer
{
    text-align: center;
    color: $biege;
    background-color: $blue;
}

.l-footer__inner
{
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: $grid-padding;

    a
    {
        &:hover
        {
            text-decoration: underline;
        }
    }
}
