// ========== @file Footer Layout ========== //

.l-footer
{
    position: relative;
    z-index: 100;
    color: $biege;
    background-color: $blue;
    box-shadow: $reverse-drop-shadow;
}

.l-footer__inner
{
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: $grid-padding;

    a
    {
        font-weight: bold;

        &:hover
        {
            text-decoration: underline;
        }
    }
}
