// ========== @file Header Layout ========== //

.l-header
{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    color: $biege;
    background-color: $background-color;
    box-shadow: $drop-shadow;
    fill: $gold;
}

.l-header__inner
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: $max-content-width;
    margin: $half-grid-padding auto;
    padding: 0 $grid-padding;
    text-align: center;

    @include breakpoint($breakpoint-medium)
    {
        justify-content: center;
    }
}

.header__logo
{
    margin: 0 auto;
    
    .icon--logo
    {
        width: icon-width(logo, 20px);
        height: 20px;
        vertical-align: middle;
        fill: $gold;

        @include breakpoint($breakpoint-small)
        {
            width: icon-width(logo, 26px);
            height: 26px;
        }

        @include breakpoint($breakpoint-small--major)
        {
            width: icon-width(logo, 30px);
            height: 30px;
        }

        @include breakpoint($breakpoint-medium)
        {
            width: icon-width(logo, 36px);
            height: 36px;
        }
    }
}
