// ========== @file Header Layout ========== //

.l-header
{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    color: $gold;
    background-color: $background-color;
    box-shadow: $drop-shadow;
}

.l-header__inner
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    margin: $half-grid-padding auto;
    padding: 0 $grid-padding;

    @include breakpoint($breakpoint-medium)
    {
        justify-content: center;
        margin: $half-grid-padding auto;
    }
}

.site-name
{
    user-select: none;
    text-align: center;
    text-transform: lowercase;
    font-size: $text-size--large;
    font-variant: small-caps;
    line-height: 0.6;
    font-feature-settings: 'kern', 'smcp';
    font-kerning: normal;

    @include breakpoint($breakpoint-tiny)
    {
        font-size: $text-size--huge;
    }

    @include breakpoint($breakpoint-medium)
    {
        font-size: $text-size--hero;
    }

    @include breakpoint($breakpoint-large)
    {
        // font-size: ms(5);
    }
}
