// Icon Component

.icon
{
    display: inline-block;
    // height: $icon-height--small;
    height: $icon-content-height;
    // fill: $white;
}

.icon--date
{
    width: icon-width(date, $icon-content-height);
}

.icon--medium
{
    width: icon-width(medium, $icon-content-height);
}

.icon--size
{
    width: icon-width(size, $icon-content-height);
}

.icon--location
{
    width: icon-width(location, $icon-content-height);
}

.icon--link
{
    width: icon-width(link, $icon-content-height);
}

.icon--wordmark
{
    width: icon-width(wordmark, 50px);
}

.icon--logo
{
    width: icon-width(logo, 50px);
    height: 50px;
    fill: $white!important;
    // height: icon-height(logo, );
}
