// ========== @file Nav Component ========== //

.nav-button
{
    padding: 0;
    appearance: none;
    border: none;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-button--is-disabled
{
    pointer-events: none;
    opacity: $semi-transparent;
}

.nav-button--header
{
    display: flex;

    .icon
    {
        height: $icon-height--small;
        cursor: pointer;
        transition: fill $speed-fast $default-easing;
        fill: $white;

        &:active
        {
            fill: $gold;
        }

        .no-touchevents &
        {
            &:hover
            {
                fill: $gold;
            }
        }
    }

    .icon--arrow-left
    {
        width: icon-width(arrow-left, $icon-height--small);
    }

    .icon--arrow-right
    {
        width: icon-width(arrow-right, $icon-height--small);
    }

    @include breakpoint($breakpoint-small)
    {
        .icon
        {
            height: $icon-height--medium;
        }

        .icon--arrow-left
        {
            width: icon-width(arrow-left, $icon-height--medium);
        }

        .icon--arrow-right
        {
            width: icon-width(arrow-right, $icon-height--medium);
        }
    }

    @include breakpoint($breakpoint-medium)
    {
        display: none;
    }
}

.nav-button--slider
{
    position: fixed;
    display: none;
    background: none;

    @include breakpoint($breakpoint-medium)
    {
        display: block;
    }

    .icon
    {
        height: $icon-height--medium;
        cursor: pointer;
        transition: fill $speed-fast $default-easing;
        fill: $white;

        &:active
        {
            fill: $gold;
        }

        .no-touchevents &
        {
            &:hover
            {
                fill: $gold;
            }
        }
    }

    .icon--arrow-left
    {
        width: icon-width(arrow-left, $icon-height--medium);
    }

    .icon--arrow-right
    {
        width: icon-width(arrow-right, $icon-height--medium);
    }

    @include breakpoint($breakpoint-medium)
    {
        .icon
        {
            height: $icon-height--large;
        }

        .icon--arrow-left
        {
            width: icon-width(arrow-left, $icon-height--large);
        }

        .icon--arrow-right
        {
            width: icon-width(arrow-right, $icon-height--large);
        }
    }

    @include breakpoint($breakpoint-huge + $grid-padding)
    {
        .icon
        {
            height: $icon-height--huge;
        }

        .icon--arrow-left
        {
            width: icon-width(arrow-left, $icon-height--huge);
        }

        .icon--arrow-right
        {
            width: icon-width(arrow-right, $icon-height--huge);
        }
    }
}
