// Post Component

.slide
{
	background-position: center;
	background-size: cover;
}

.slide__inner
{
	padding-top: $grid-padding;
	padding-bottom: $grid-padding;
}

.artwork
{
	display: table;
	max-width: $breakpoint-medium;
	margin: 0 auto;
}

.artwork__inner
{
	padding: ($grid-padding * 3) $grid-padding 0 $grid-padding ;

	@include breakpoint($breakpoint-medium)
	{
		padding: ($grid-padding * 3) $grid-padding * 2.5 0 $grid-padding * 2.5;
	}
}

.artwork__image
{
	margin: 0 auto $grid-padding auto;
}

.artwork__content
{
	display: flex;
	flex-direction: column;
	margin-bottom: $grid-padding;
	padding: $grid-padding;
	color: $biege;
	background-color: $background-color;
	box-shadow: $drop-shadow;
}

.artwork__nav
{
	// display: flex;
	// justify-content: space-between;
	// align-items: stretch;
	display: table;
	width: 100%;
	max-width: $breakpoint-medium;

	margin-top: $grid-padding;
	margin-bottom: $grid-padding;
	vertical-align: middle;

	// filter: drop-shadow(0 2px 8px rgba($black, 0.5));

	.artwork__date-container
	{
		// text-align: center;
		display: table-cell;
		background-image: url('img/brush-stroke.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: middle;
	}

	.nav__button
	{
		// display: none;
		display: table-cell;
		vertical-align: middle;

		&.swiper-button-disabled
		{
			pointer-events: none;
			opacity: 0.5;
		}

		&.nav__button--prev
		{
			text-align: left;
		}

		&.nav__button--next
		{
			text-align: right;
		}

		@include breakpoint($breakpoint-medium)
		{
			display: none;
		}
	}
}

.artwork__date
{
	margin: 0;
	padding: $grid-padding 0;
	text-align: center;
	vertical-align: middle;
	color: $white;

	// sup
	// {
	// 	top: -0.6rem;
	// 	font-size: $font-size--tiny;
	// }
}


.artwork__title
{
	color: $gold;
	font-style: italic;
}



// .post-img
// {
//     margin: 0 auto;

img
{
	width: auto;
	// max-height: 50vh;
	max-height: calc(100vh - 220px);
	border-width: 46px;
	border-image: url('img/frame.png') 46 46 round;
	box-shadow: $drop-shadow;
	// margin: 0 auto;

	@include breakpoint($breakpoint-retina)
	{
		// border-width: 23px;
		// @include border-image(url('img/frame.png') 23 23 round);
	}

	.not-borderimage
	{
		border: 20px ridge shade($gold, 25%);
	}
	// }
}
