// ========== @file Visibility Component ========== //

.is-hidden
{
    display: none!important;
}

.is-visible
{
    visibility: visible!important;
}

.not-visible
{
    visibility: hidden!important;
}

.is-visually-hidden
{
    position: absolute!important;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    border: 0!important;
}
