---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" dir="ltr" class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" dir="ltr" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if (gt IE 9) | !(IE)]>]><!--> <html lang="en" dir="ltr" class="no-js"> <!--<![endif]-->
{% include root.html %}
<body>
    {% include svg-icon-sprite.svg %}
    {% include header.html %}
    <main class="l-main" role="main">
      {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
