---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if (gt IE 9) | !(IE)]>]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include root.html %}
<body>
    {% include svg-icon-sprite.svg %}
    {% include header.html %}
    {% include nav.html %}
    <main class="l-main">
        <div id="js-slider" class="l-main__inner slider swiper-container">
            <div id="js-slider__inner" class="slider__inner swiper-wrapper"></div>
            <div class="slider__pagination swiper-pagination"></div>
            <div class="nav__button nav__button--prev slider__nav-button slider__nav-button--prev swiper-button-prev">
                <svg class="icon icon--arrow-left"><use xlink:href="#icon--arrow-left"></use></svg>
            </div>
            <div class="nav__button nav__button--next slider__nav-button slider__nav-button--next swiper-button-next">
                <svg class="icon icon--arrow-right"><use xlink:href="#icon--arrow-right"></use></svg>
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
