---
layout: compress
---
{% assign widths = site.data.srcset.widths %}
{% capture srcset %}{% for size in widths %}{% capture image_size %}--{{ size[0] }}.jpg{% endcapture %}{% capture image_filename %}{{ page.image | replace: '.jpg', image_size }}{% endcapture %}images/{{ image_filename }} {{ size[1] }}{% if forloop.rindex0 > 0 %},{% endif %}{% endfor %}
{% endcapture %}
{% assign srcset_sizes = site.data.srcset.sizes %}
<div class="artwork">
    <article class="artwork__inner">
        <div class="artwork__header"><h3 class="artwork__date">{{ page.date | date: '%B %-d' }}<sup class="artwork__ordinal">{{ page.date | date_to_string | ordinal }}</sup></h3></div>
        <div class="artwork__image">
            <img data-src="images/{{ page.image | replace: '.jpg', '--medium.jpg' }}" alt="{{ page.title }}" class="img swiper-lazy" data-srcset="{{ srcset }}" sizes="{{ srcset_sizes }}" />
            <div class="artwork__preloader swiper-lazy-preloader"></div>
        </div>
        <div class="artwork__content">
            <h3 class="artwork__title">{{ page.title }}</h3>
            <h4 class="artwork__artist">{{ page.artist }}</h4>
            <p>{% if page.art_date %}{{ page.art_date | replace: '-', '&ndash;' }}<br />{% endif %}
            {% if page.art_type %}{{ page.art_type }}<br />{% endif %}
            {% if page.art_height %}{{ page.art_height }} cm &times; {{ page.art_width }} cm<br />{% endif %}
            {% if page.art_location %}{{ page.art_location }}<br />{% endif %}
            {% if page.cite_url %}{{ page.cite_author }}: <a href="{{ page.cite_url }}" target="_blank"><em>{{ page.title }} ({{ page.artist }})</em></a>{% endif %}</p>
        </div>
    </article>
</div>
